body {


		margin-top: 20px !important;

	

	text-align: center;
	background: url("http://images4.fanpop.com/image/photos/17400000/Classical-music-classical-music-17495255-600-600.jpg");

	font-family: 'EB Garamond', serif;
	
	
}




ul {
	list-style-type: none;
	

}




#questionfirst, #questionsecond, #questionthird, #questionfourth, #questionfifth, #done {
  
	display:none;

}


